<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hi <%= @name %>, </p>
      <p>Thanks for your interest in Flight.  This email is just to confirm you signed up for a free evaluation.</p>
      <p>One of our trainers will get in touch with you to arrange a time and date. Please reach out to us if you have any further questions.</p>
      <p>We're looking forward to getting to work!</p>
      <p>Thanks, </p>
      <p>Flight Performance and Fitness Staff</p>
  </body>
</html>
