<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hi <%= @name %>, </p>
      <p>Thanks for your interest in Flight. This email is to confirm we received your sign up for a free intro session.</p>
      <p>One of our trainers will get in touch to arrange a time and date. Please reach out to us if you have any further questions.</p>

      <p>Thanks, </p>
      <p>Flight Performance and Fitness Staff</p>
  </body>
</html>
