<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p><%= @email %> signed up for a free evaluation.</p>
      <p>Available Times:
          <% @times.each do |i, time| %>
            <p><%= time %></p>
          <% end %>
      </p>
      <p>They said: <%= @message %></p>
  </body>
</html>
