<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hi <%= @name %>, </p>
      <p>Thanks for your interest in Flight's youth performance program. This email is to confirm we received your registration.</p>
      <p>One of our coaches will get in touch with more details. Please reach out to us if you have any further questions.</p>

      <p>Thanks, </p>
      <p>Flight Performance and Fitness Staff</p>
  </body>
</html>
