<div class="row mt-5 mb-5">
    <div class="col">
        <h3>
            <%= post.title %>
        </h3>
        <%= render partial: 'post_tags', locals: {post: post} %>
        <div class="trix-content">
            <%= raw post.post_body %>
        </div>
        <div class="mt-2 post-footer">
            <p><strong>Authored By: </strong><%= post.author.name %></p>
        </div>
    </div>
</div>
