<div class="col-12 mt-2 mb-2">
    <% if post.published %>
        <p class="alert alert-primary" role="alert">This post is published
    <% else %>
        <p class="alert alert-danger" role="alert">This post is unpublished
    <% end %>
    <span>
        <%= link_to "Edit Post", edit_post_path(post) %>
        <%= link_to "Delete Post", post_path(post), method: :delete, confirm: "Are you sure you want to delete this post?" %>
    </span>
    </p>
</div>
