<div class="row mt-5 mb-5">
    <div class="col">
        <h3>
            <%= link_to post.title, post_path(post) %>
        </h3>
        <div class="trix-content">
            <%= sanitize post.body_preview, tags: sanitize_tags_list, attributes: sanitize_attr_list %>
        </div>
    </div>
</div>
