<div class="container">
    <% if user_signed_in? %>
        <div class="row m-2">
            <div class="col">
                <%= link_to "New Post", posts_path, method: :post, class:"btn btn-primary" %>
            </div>
        </div>
    <% end %>
   <% @posts.each do |post| %>
     <%= render partial: 'post_short', locals: { post: post } %>
     <% if user_signed_in? %>
       <%= render partial: 'post_admin_info', locals: { post: post } %>
     <% end %>
      <hr>
   <% end %>
</div>
