$primary: #004b72;
// $btn-primary: black;
// $btn-font-weight: bold;

/* styles for slick */
// @import 'slick';
// $slick-dot-color: white !important;
// $slick-dot-color-active: white !important;

@import "bootstrap";
@import "slick/*";
@import "font-awesome";
@import "tempusdominus-bootstrap-4";
@import "selectize";
/* @import 'slick-theme'; */
/* @import 'video-js'; */
@import "trix";
@import "pagination";

body {
  font-family: "Lato", sans-serif;
}

.text-blue {
  color: $primary;
}

.text-lighter-blue {
  color: #4d809c;
}



#footer-image {
  background-image: image-url("flight-footer.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: 100%; */
  height: 40rem;
}

#video-player-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 40.25%;
}

#video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#google-map {
  height: 35rem;
}

.social-icons a {
  padding-right: 8px;
}
.social-icons i {
  color: black;
}

.header-information:hover {
  text-decoration: underline;
}
/* @include media-breakpoint-down(sm) { */
/*     .hide-when-small { */
/*         display: none; */
/*     } */
/*     .social-icons { */
/*         text-align:right; */
/*     } */
/* } */

@include media-breakpoint-down(xs) {
  .slick-arrow {
    display: none !important;
  }
}

.header-information a {
  color: black;
}
.nounderline:hover {
  text-decoration: none;
}

.hover-opacity:hover {
  opacity: 0.6;
}

/* Calendar */
.simple-calendar {
  td {
    min-width: 15rem;
  }
}

.legend {
  text-align: right;
}
.legend-item {
  font-weight: bold;
}

.day-list {
  padding-left: 0px;
  position: relative;
  li {
    list-style: none;
    border-radius: 8px;
    background-color: light-grey;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 20px; */
    color: $white;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.open-gym,
.training-session {
  background-color: $primary;
}
.personal-training {
  background-color: #005270; //$brand-warning;
}
.conditioning {
  background-color: $text-muted;
}
.boxing {
  background-color: #0189bd; //$brand-info;
}
.empty {
  color: white; //rgba(0, 0, 0, 0.05);
  background-color: white; //rgba(0, 0, 0, 0.05);
}
.empty-event {
  color: white; //rgba(0, 0, 0, 0.05);
  background-color: white; //rgba(0, 0, 0, 0.05);
}


/* Services */
.card {
  min-width: 240px;
}

.trix-content {
  img {
    @include img-fluid;
  }
}
.trix-content .attachment {
  display: block;
}

.truncate-content {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 30em;
}
.truncate-content:after {
  content: "";
  height: 1.5em;
  display: block;
  width: 100%;
  @media (min-width: 768px) {
    /* medium and up */
    width: 90%;
  }
  position: absolute;
  background-color: #f8f9fa;
  opacity: 0.8;
  bottom: -0.4em;
}
// #slogan {
//   padding-top: 12rem;
//   margin-left: auto;
//   margin-right: auto;
// }
#background-home-page {
  background-image: image-url("homepage-deadlift.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: 100%; */
  height: 30rem;
  @media (min-width: 960px) {
    /* large and up */
    height: 50rem;
  }
  h1 {
    padding-top: 9rem;
  }
}

#background-remote-coaching {
  background-image: image-url("remote-coaching.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: 100%; */
  height: 50rem;
  h1 {
    padding-top: 10rem;
  }
}

.remote-programming-deck {
  ul {
    padding-left: 1rem;
  }
}

.covid-alert {
  margin-right: -15px;
  margin-left: -15px;
  padding: 0.3rem 1.25rem;
  border-radius: 0px;
}
