$primary: #01aef0;
// $btn-primary: black;
// $btn-font-weight: bold;


/* styles for slick */
// @import 'slick';
// $slick-dot-color: white !important;
// $slick-dot-color-active: white !important;

@import "bootstrap";
@import "slick/*";
@import "font-awesome";
@import "tempusdominus-bootstrap-4";
@import "selectize";
/* @import 'slick-theme'; */
/* @import 'video-js'; */
@import 'trix';
@import 'pagination';

body {
    font-family: 'Lato', sans-serif;
}

.text-blue {
  color: $primary;
}

#slogan {
    position: static;
    padding: 25px;

    h1, h2, a {
        opacity: 1;
    }

    a {font-size: 1.5rem;}
}

@include media-breakpoint-up(lg) {
    #slogan {
        position: absolute;
        top: 160px;
        left: 10%;
        padding: 25px;
        opacity: 0.8;
        z-index: 20;
        width: 25%;
    }
}


#footer-image {
    background-image: image-url("platform_cropped.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* width: 100%; */
    height: 20rem;
}

#video-player-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40.25%;
}

#video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#google-map {
    height: 35rem;
}

.social-icons a {
    padding-right: 8px;
}
.social-icons i {
    color: black;
}

.header-information:hover {
    text-decoration: underline;
}
/* @include media-breakpoint-down(sm) { */
/*     .hide-when-small { */
/*         display: none; */
/*     } */
/*     .social-icons { */
/*         text-align:right; */
/*     } */
/* } */

@include media-breakpoint-down(xs) {

    .slick-arrow {
        display: none !important;
    }

}

.header-information a {
    color: black;
}
.nounderline:hover {text-decoration: none}


.hover-opacity:hover {
  opacity: 0.6;
}

/* .mind-body-form-wrapper { */
/*   @extend .form-group; */
/* } */
/* .mind-body-form-wrapper input,  .mind-body-form-wrapper textarea { */
/*   @extend .form-control; */
/*   margin-bottom: 5px; */
/* } */
/* .mind-body-form-wrapper input.submit  { */
/*   @extend .btn-primary, .btn; */
/* } */



/* Calendar */
/* .simple-calendar { */
/*     background: image-url("blue-plank.jpg") no-repeat center center fixed; */
/*     /\* background: url(images/bg.jpg)  *\/ */
/*     -webkit-background-size: cover; */
/*     -moz-background-size: cover; */
/*     -o-background-size: cover; */
/*     background-size: cover; */
/* } */
.legend {

    text-align: right;
}
.legend-item {
    font-weight: bold;
}

.day-list {
    padding-left: 0px;
    position: relative;
    li {
        list-style: none;
        border-radius: 8px;
        background-color: light-grey;
        padding-left: 20px;
        padding-right: 20px;
        /* padding: 20px; */
        color: $white;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.open-gym, .training-session {
    background-color: $primary;
}
.personal-training {
    background-color: #005270; //$brand-warning;
}
.conditioning {
    background-color: $text-muted;
}
.boxing {
    background-color: #0189BD; //$brand-info;
}
.empty {
    color: white; //rgba(0, 0, 0, 0.05);
    background-color: white; //rgba(0, 0, 0, 0.05);
}
.empty-event {
    color: white; //rgba(0, 0, 0, 0.05);
    background-color: white; //rgba(0, 0, 0, 0.05);
}

.legend {

}



/* Services */
.card {
    min-width:240px

}

.trix-content {

    img {
        @include img-fluid;
    }
}
.trix-content
    .attachment {
      display: block;
}

.truncate-content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 30em;
}
.truncate-content:after{
    content:"";
    height: 1.5em;
    display: block;
    width: 100%;
    @media (min-width: 768px) {
        /* medium and up */
        width: 90%;
    }
    position:absolute;
    background-color:#f8f9fa;
    opacity: 0.8;
    bottom: -0.4em;
}


#background-remote-programming {
  background-image: image-url("Workout-Garage-2.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: 100%; */
  height: 30rem;
  h1 {
    padding-top: 9rem;
  }
}

.remote-programming-deck {
  ul {
    padding-left: 1rem;
  }
}
