<div class="container">

    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>About</h1>
        </div>
    </div>


    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <img class="img-fluid" src="<%= asset_path("dylan-and-jared-3.jpg") %>" alt="Dylan Gutheil and Jared Collinson" />
        </div>
        </div>


    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title pt-3 pb-3">Jared Collinson</h4>
                <p class="lead card-text">Jared is from Sandwich, Massachusetts and played soccer and football growing up.  He picked up rugby in college and has continued to play at a high level, competing on the international stage against many notable professional clubs.  Jared is very enthusiastic about this field and loves anything to do with fitness and training.  His professional experience ranges from working in Physical Therapy clinics to Strength and Conditioning facilities and Sports Clubs.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title pt-3 pb-3">Dylan Gutheil</h4>
                <p class="lead card-text">Dylan is from Brookline, MA. Passionate about sports since childhood, Dylan played football and rugby, and later was co-captain of the Springfield College rugby team with Jared. After college, he fully dedicated himself to the field of strength and conditioning. Dylan has extensive knowledge of human movement, exercise physiology, and biomechanics. He has considerable experience working with clients of all ages and skill levels.</p>
            </div>
        </div>
    </div>
</div>
