<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-12">
      <h2 class="text-center">About Flight</h2>
      <p>
      Our mission is to build an environment where people can push towards their personal goals with the value of coaching at a reasonable price. We have a true passion to help people get stronger both physically and mentally.  It is our aim to have every client that walks through our door fall in love with training and the process of bettering themselves because we know that the lessons you learn in the gym will carry over into every facet of your life.
      </p>
    </div>
  </div>
  <div class="row mt-2 mb-2">
      <div class="text-center col">
          <h3>The Team</h3>
      </div>
  </div>

  <div class="card-deck mb-3 row">
      <% @coaches.each do |coach| %>
        <%= render partial: "coach", locals: {coach: coach}  %>
      <% end %>
  </div>
</div>
