<div class="container">

    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>About the Owners</h1>
        </div>
    </div>

    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <img class="img-fluid" src="<%= asset_path("dylan-and-jared-3.jpg") %>" alt="Dylan Gutheil and Jared Collinson" />
        </div>
    </div>

    <div class="card-deck mb-5">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title pt-3 pb-3">Jared Collinson</h4>
                <p class="lead card-text">
                    Jared grew up in Sandwich, Massachusetts, where he played soccer and football through high school. He started playing rugby at Springfield College, where he earned a degree in Exercise Science. He continues to play rugby at a professional level, competing internationally. Jared’s enthusiasm for fitness and training is matched by his professional experience working in physical therapy clinics, strength and conditioning facilities, and sports clubs.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title pt-3 pb-3">Dylan Gutheil</h4>
                <p class="lead card-text">
                    Dylan grew up in Brookline, Massachusetts. Passionate about sports since childhood, Dylan played football and rugby in high school and continued his rugby career at Springfield College, where he earned a degree in Exercise Science. After college, he dedicated himself to the field of strength and conditioning. Dylan has extensive expertise in the science of human movement, exercise physiology, and biomechanics, and he enjoys working with clients of all ages and skill levels.
                </p>
            </div>
        </div>
    </div>
</div>
