<div class="container mt-5 mb-5" id="contact-form-container">

    <div class="row mt-5 mb-5">
        <div class="col text-center">
            <h1>Schedule</h1>
        </div>
    </div>
    <div class="row">
      <div class="offset-1 col-10">
        <img class="img-fluid" src="<%= asset_path("schedule.jpg")%>" />
      </div>
    </div>
</div>