<div class="container mt-5 mb-5" id="contact-form-container">

  <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
    <div class="row">
      <div class="offset-1 col-10">
        <healcode-widget data-type="class_lists" data-widget-partner="object" data-widget-id="c2322963219" data-widget-version="0">
          <div class="row text-center">
            <div class="col">
              <icon class="fa fa-3x fa-spinner fa-spin"></icon>
            </div>
          </div>
        </healcode-widget>
      </div>
    </div>
</div>