<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Daily In Home Workout Challenge</h1>
      <img src="<%= asset_path('side_plank.jpg') %>" alt="side plank" class="img-fluid" />
      <hr>
    </div>
  </div>
    <div class="row mt-5 mb-5">
        <div class="col">
            <p>Hey Flight Fam,</p>
            <br>
            <p>We don’t want gym closures to dampen the work you have put in toward your goals. We also know it is hard to stay motivated at a time like this!</p>
            <p>We are putting together daily workouts that we will be sharing with our members and those that sign up that use little to no equipment. Additionally, we will be holding you <b>ACCOUNTABLE</b> for your workouts each week. Details below:</p>
            <ol>
              <li> Daily Workout options shared via private youtube videos
                <ul>
                  <li>Limited Equipment</li>
                  <li>Bodyweight Only</li>
                  <li>Mobility</li>
                  <li>Conditioning</li>
                </ul>
              </li>
              <li>
              Share a sign of completion on your Instagram story and tag @flight_performance to add points to the weekly leaderboard.  Please specify which workouts you have completed to get the appropriate points!
              </li>
              <li>
                At the end of each week, the person with the most points will win a piece of <b>FREE FLIGHT SWAG</b> from our stock or website.
              </li>
              <li>
                Each <b>Wednesday</b> will also include a <b >Challenge Workout</b> where the top 5 competitors will get additional points on the leaderboard.
              </li>
            </ol>

            <p>
              Upon signing up for this program, you will also be given a free month at flight performance and fitness once the gym bans are lifted.  If you aren’t in the area we will offer a free month of online programming.
            </p>
            <ul>
              <li>
                <a href="http://bit.ly/396kjTS" target="_blank">CLICK HERE</a> to visit the Flight App.

              </li>
              <li>Sign in or create a new account.</li>
              <li>Inside the app, find "Contracts" -> "In Home Workout" and join the challenge!</li>
            </ul>
            <h5>We're looking forward to seeing you there!</h5>
        </div>
    </div>
</div>
