<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-12">
      <h1>Flight's COVID-19 Policy</h1>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <p>As Massachusetts has moved into phase 3 some new regulations have come into effect.  Gyms are now allowed to re-open at a 40% capacity.
              The regulations for spaces indoors have been set at 14ft. We have implemented a "pod" system and keep all our people 14ft away (marked by tape on floor).
          </p>
          <h3> What this means... </h3>
          <ul>
            <li>You will be required to sign up in advance for the classes you wish to show up to.</li>
            <li>We will maintain 3 visits per week to accommodate all our members.</li>
            <li>Please try to sign up for your three times in the beginning of the week to guarantee your spots.</li>
            <li>On the day of, if you see that there are openings in times that you wish to join (in addition to your 3) you may reach out to the coaches directly to schedule. (This only applies to same day time slots)</li>
            <li>If you cannot make it you must cancel 24hrs prior.  There are a lot of other people trying to get in so please be courteous of the rest of the flightfam.</li>
          </ul>
      </div>
  </div>

  <div class="row">
      <div class="col">
         <h3>How to Sign up for Classes</h3>
         <p> In order to be a member of Flight you'll need to download our app
             <a class="flight-app-link" href='#' class="text-white" target="_blank">
                 here <%= fa_icon 'mobile' %>.
             </a>
             Or search "Flight Performance and Fitness" in the app or google play store.  It is a blue icon with FPF on it.
         </p>
         <p>
             You will need an active membership to book classes. To do this you will need to add payment information and contact us so WE can then add the appropriate package to your account.
         </p>
         <p>
             <a target="_blank" href="https://www.youtube.com/watch?v=zXhU4QVOpfI">
                 How to upload payment info.
             </a>
         </p>
         <p>
             <a target="_blank" href="https://www.youtube.com/watch?v=7Hew8ZuOqR8">
                 How to schedule classes or cancel classes.
             </a>
         </p>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <h3>Safety Protocols</h3>
          <ul>
            <li>Masks are required as you enter the building and all times outside of your Pod.</li>
            <li>Temperature checks upon arrival.</li>
            <li>Filling out
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScxGCCuuM6C8719-nZSrh3A8rn_93vwkeysBB39lSG2xhKgAw/viewform">
                    this google survey
                </a>
                prior to each arrival (if you are not getting it via email each day please let a coach know)
            </li>
            <li>Cleaning all equipment and returning back after you are finished with it.</li>
            <li>Keep your sessions to 60 minutes. Coaches need time to clean the gym in between sessions to keep everyone safe.</li>
            <li>Water fountain is currently off limits bring enough water for your workout.</li>
            <li>Showers are currently off limits.</li>
          </ul>
      </div>
  </div>
</div>
