<div class="container">
    <div class="row text-center mt-5 mb-5">
        <div class="col">
            <h1>Upcoming Events</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <h3>Avoiding Training Pitfalls in the Year Round Athlete</h3>
            <p><b>When:</b> Nov 18 - 19, 2017 at 8:00am - 5:00pm EST</p>
            <p><b>Where:</b> Flight Performance & Fitness, 225 Riverview Ave, Aburdale, MA 02446</p>
            <p><b>Bio: </b>Pat Davidson has accumulated a wealth of knowledge in the last ten years. Pat studied for his masters in Strength & Conditioning under Dr Ellyn Robinson at Bridgewater State College before completing his Phd in Exercise Physiology at Springfield College. Pat went on to be a professor in exercise science at Springfield and Brooklyn College. As an athlete Pat has competed in two world championships in strongman at the Arnold Classic, and high levels of submission wrestling and MMA fighting. Pat is one of the most competitive, fierce, and brilliant people in the field of strength and conditioning and his strive for knowledge dominance is contagious.</p>
            <%= button_tag "Register Now", class: 'btn btn-primary' %>
        </div>
        <div class="col">
            <%= image_tag 'pat-davidson.jpg', alt: 'pat-davidson', class: 'img-fluid' %>
        </div>
    </div>
</div>
