<div class="container">
  <div class="row text-center mt-5">
      <div class="col">
        <%= image_tag asset_path("group-classes-background.jpg"), class: "img img-fluid", alt: "Group Class" %>
        <h1 class="display-4">Small Group Metabolic Strength and Fitness</h1>
        <p class="p-5 lead text-left">Personalized coaching in a gruop workout environment. Each coach will know who you are, what your goals are, and your fitness level so we can maximize results while keeping you feeling good and injury free.</p>
      </div>
  </div>
</div>
<div class="container-fluid bg-primary text-white py-5">
  <div class="row">
    <div class="col offset-lg-2">
      <h3>This program is for you if:</h3>
      <ul class="">
        <li class="p-2">You want to build muscle and lose fat.</li>
        <li class="p-2">You want to feel more confident.</li>
        <li class="p-2">You want to feel athletic again.</li>
        <li class="p-2">You want to work out in a group with other motivated people that will push you to do your best</li>
      </ul>
      <h3>Here is what you can expect from this program</h3>
      <ul class="">
        <li class="p-2">Each coach will know who you are, your goals, and your fitness level so we can maximize results while keeping you feeling good and injury free.li>
        <li class="p-2">You will feel better about your health and fitness.</li>
        <li class="p-2">You will have more energy to put into the other things your care about in your life.</li>
        <li class="p-2">You will be physically and mentally stronger than when you came in.</li>
      </ul>
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="row mb-5 mx-auto">
    <div class="col text-center">
      <a href="<%= evaluation_path %>" class="btn btn-primary display-1">Sign up today for a Free Intro Session</a>
    </div>
  </div>
</div>
