<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-12 text-center">
      <h1>Flight Internship Program</h1>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <p>
              An internship at flight performance and fitness will provide you with an opportunity to experience hands on coaching with as many as 100 athletes per day.
              Each intern will have an opportunity to coach a variety of different (high school, college, professional) athletes and general population clients,
              become more familiar with the intricacies of program design, and learn how to coach our specific model under the supervision of experienced strength and conditioning coaches.
          </p>
          <p>
              As an FPF intern, you would have the opportunity to participate in small group learning with one of our owners which follows
              a 12 week comprehensive curriculum.  You are invited to our weekly staff meetings which focuses on continuing education in a breakout style
              learning environment.  We work closely with our internship participants to develop coaching assessment, cueing drills, and program design,
              skill sets to complement career aspirations within the fitness industry.
          </p>
          <p>
              Additionally interns will have access to the gym throughout the day and are encouraged to workout with us or on their
              own with an individualized program written by a flight coach.
          </p>
          <p>
              Our mission is to develop the next generation of coaches to positively influence the industry with their open minded
              attitude and furthering their education for the betterment of themselves and their clients.
          </p>
          <p>
            <a href="https://forms.gle/s9A6qvNj5fz3E2ho7" target="_blank">Apply Today</a>
          </p>

      </div>
  </div>

  <div class="row">
      <div class="col">
         <h3>Roles & Responsibilities</h3>
         <ul>
             <li>
                 Introduce yourself to all members; this is your number 1 priority! Get to know our community so they will trust you as a coach
             </li>
             <li>
                 Maintain cleanliness of the gym at all times including putting away equipment, replacing water jug,
                 assisting with cleaning duties, and anything else you see - treat our home like your own.
             </li>
             <li>
                 Remember you are representing Flight at all times in the building - act as such through language, attitude,
                 and body language
             </li>
             <li>
                 Be a presence in the gym - take any opportunity to shadow, coach, and interact with members/ coaches.
                 This is your experience - make the most of it.
             </li>
             <li>
                 Ask Questions
             </li>
             <li>
                 Our success is built on being efficient and effective in coaching our members.
                 Be available to assist with our process wherever necessary.
             </li>
         </ul>
      </div>
  </div>

  <div class="row">
      <div class="col">
          <h3>What success in this role looks like</h3>
          <ul>
              <li>
                  Effective communicator - if there is something you don’t like, say something.
                  We want to ensure you are having a positive experience; we will do the same for you.
              </li>
              <li>
                  Deal with ambiguity - our business is different every day.
              </li>
              <li>
                  Understand and recognize that you may be asked to adapt.
              </li>
              <li>
                  Accept failure - inserting yourself into coaching will come with mistakes,
                  appreciate them and be willing to learn from them. In this industry, you will cherish these opportunities.
              </li>
              <li>
                  High energy - check your personal life at the door; when you step inside
                  the gym, give your energy to the members and your team 100% - you are on stage
                  at all times. Energy and enthusiasm is contagious - it is ESSENTIAL to what we do.
              </li>
          </ul>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <h3>Requirements</h3>
          <ul>
              <li>
                  Must commit to 12-week internship program
              </li>
              <li>
                  You must commit to a minimum of 25 hours of coaching a week not including our
                  staff meeting and educational sessions.
              </li>
              <li>
                  You must be willing to work with clients of all ages and ability levels.
              </li>
              <li>
                  A related degree is preferred but not required.
              </li>
          </ul>
      </div>
  </div>

  <div class="row">
      <div class="col">
          <h3>Non-Negotiables</h3>
          <ul>
              <li>Be on time.</li>
              <li>
                  Be prepared when you are scheduled - if shift starts at 2pm, be dressed,
                  fed and ready before that time
              </li>
                  Train with one of the coaches at least 1x/ week (make a date)
              <li>
                  Be hungry. This is not a job, you choose to be here.
              </li>
              <li>
                  Schedule in advance - at least 1 week notice, unless an emergency; ideally as much as possible.
              </li>
          </ul>
      </div>
  </div>

  <div class="row mb-5">
      <div class="col">
          <h3>Apply Today</h3>
          Submit your application to this <a target="_blank" href="https://forms.gle/s9A6qvNj5fz3E2ho7">google form</a>
      </div>
  </div>

  <div class="row  mb-5">
      <h3>Former Flight Interns talk about their experience</h3>
      <div class="col-12">
        <%= video_tag "https://ep-files.nyc3.cdn.digitaloceanspaces.com/video-compressed.mp4", controls: true, preload: 'metadata', poster: image_path("internship-screenshot-1.jpg") %>
      </div>
      <div class="col-12">
        <h5>Part 1</h5>
        <%= video_tag "https://ep-files.nyc3.cdn.digitaloceanspaces.com/barak-internship-compressed-part-1.mp4", controls: true, preload: 'metadata', poster: image_path("barak-interview-screenshot.jpg") %>
      </div>
      <div class="col-12">
        <h5>Part 2</h5>
        <%= video_tag "https://ep-files.nyc3.cdn.digitaloceanspaces.com/barak-internship-compressed-part-2.mp4", controls: true, preload: 'metadata', poster: image_path("barak-interview-screenshot.jpg") %>
      </div>
      </div>
  </div>

</div>
