<div class="container">
    <div class="row text-center mt-5 mb-5" id="background-nutritional-coaching">
        <div class="col">
          <h1>Nutritional Coaching</h1>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col lead">
        <p>Proper nutrition is a key component of reaching your health and fitness goals. Flight 3 month nutrition-coaching address gives you all the information you need to build a lifetime of proper nutrition habits.
        <br/><br/>
          Our 3 month program consists of:
        </p>
        <ul>
            <li>
                Nutritional handbook that gives you proper perspective and framework to view nutrition for health and performance.
            </li>
            <li>
                A personalized goal setting session.
            </li>
            <li>
                Weekly action items, check-ins, monthly measurements.
            </li>
            <li>
                A 30 minute consultation each month
            </li>
            <li>
                Calorie and macronutrient breakdown for specific goals.
            </li>
        </ul>

      </div>
    </div>
</div>
