<div class="container">
    <div class="row text-center mt-5 mb-5 text-white" id="background-remote-programming">
        <div class="col">
          <h1>Remote Coaching and Programming</h1>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-lead">
          Flight Performance & Fitness offers online coaching for dedicated individuals looking to improve their performance in sports, powerlifting, weight lifting, and general fitness. You can train on your own schedule, and where you’re most comfortable (whether that’s at home or your local gym). No matter where you access our digital programs, we are dedicated to providing you an unmatched quality of coaching and training.
        </p>
      </div>
    </div>

    <!-- <div class="row">
         <div class="col">
         <h4>Our online programming package includes: </h4>
         <ul>
         <li> Initial consultation: We ask our remote programming clients to fill out an initial form including goals, training and injury history to help us get a good idea of your needs.  From there we will schedule a phone call to go over this information to build the best individualized program possible.
         </li>
         <li>Individualized expert programming: In order to continue to make progress it is important to be addressing needs from a week to week basis to ensure all the exercises and loads are appropriate to the client.
         </li> -->
          <!-- Tier 3 only -->
          <!-- <li>Unlimited support via your preferred method of communication: We serve as your guide through this whole process and will make ourselves available for any questions you may have.
               </li>
               <li>Video analysis: Our online training isn’t just about the program. To get real results, you must be executing the exercises correctly. To ensure this proper execution, we offer weekly video analysis of your technique so we can give you the tools to be successful and make sure you are getting the results you are looking for safely and effectively.
               </li>
               </ul>
               </div>
               </div> -->



    <div class="card-deck mb-3 text-center remote-programming-deck">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary">
          <h4 class="my-0 font-weight-bold text-light">Tier 1</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$20 <small class="text-muted">flat fee</small></h1>
          <label class="lead">Template Program</label>
          <p class="card-text">For anyone considering online programming or looking to see what we do here at Flight Performance & Fitness.</p>
          <ul class="text-left">
            <li>
            Choose from a <a href="#/templates">variety of templates</a>
            </li>
          </ul>
          <!-- <p class="card-text text-left">Choose from a <a href="#/templates">variety of templates</a></p> -->
          <!-- <br/> -->
          <a class="btn btn-secondary text-light">Download Sample Template</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary">
          <h4 class="my-0 font-weight-bold text-light">Tier 2</h4>
        </div>
        <div class="card-body text-center">
          <h1 class="card-title pricing-card-title">$75 <small class="text-muted">/mo</small></h1>
          <label class="lead">Monthly Updated Programming</label>
          <p>For anyone looking for a workout tailored to meet your individual goals.</p>
          <ul class="text-left">
            <li>Free initial consultation where we'll develop a custom plan tailered towards your personal goals.</li>
            <li>Access to our online video database and social media accountability group.</li>
            <li>Monthly progamming updates. Clients regularly report progress to allow the coach to make adjustments for the next program.</li>
          </ul>

          <!-- <p class="card-text text-left">Free initial consultation where we'll develop a custom plan tailered towards your personal goals.</p>
               <p class="card-text text-left">Access to our online video database and social media accountability group to acces resources and any additional information you may need.</p>
               <p class="card-text text-left">Monthly progamming updates. Clients regularly report progress to allow the coach to make adjustments for the next program.</p>
               </div> -->
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary ">
          <h4 class="my-0 font-weight-bold text-light">Tier 3</h4>
        </div>
        <div class="card-body text-center">
          <h1 class="card-title pricing-card-title">$140 <small class="text-muted">/mo</small></h1>
          <label class="lead">Weekly Updated Programming</label>
          <p>For people who are truly dedicated to their training</p>
          <ul class="text-left">
            <li>Free initial consultation where we'll develop a custom plan tailered towards your personal goals.</li>
            <li>Access to our online video database and social media accountability group.</li>
            <li>Weekly progamming updates.</li>
            <li>Unlited access to Flight coaches to all the coach who guide and adapt the program to fit your week to week needs</li>
          </ul>


          <!-- <p class="card-text text-left">Weekly programming updates based on feedback from the previous week.</p> -->
          <!-- <p class="card-text text-left">For people who are truly dedicated to their training - Unlimited access to our coaches who will guide and adapt the program to fit your week to week needs.</p> -->
            <!-- <p class="card-text text-left">Training is a fluid process, and to get the most out of it you'll need to adapt the program to fit your week to week needs.</p> -->
        </div>
      </div>
    </div>


  <h2>Templates</h2>
  <div class="row">
    <div class="card m-2 ">
      <div class="card-header">
        <h4 class="font-weight-normal">Olympic Lifting</h4>
      </div>
      <div class="card-body">
        <label class="lead">Intro to Olympic Lifting</label>
        <p class="card-text text-left">This program is designed for athletes with little to no Olympic lifting experience.  It is geared towards developing technical competency within the Olympic lifts and developing strength to augment performance in this style.</p>

        <label class="lead">Olympic Lifting Accumulation</label>
        <p class="card-text text-left">Lower percentages and barbell complexes will take the large portion of this training program.  The goal of this program is to build a large foundation to pack on strength and size while building work capacity.  This program is great for coming off a competition and working on technique and strength for the oly lifter with some experience.</p>


        <label class="lead">Olympic Lifting Build</label>
        <p class="card-text text-left">This program is designed to start maximizing strength and power with higher loads.  The goal is to add in higher loads but maintain technical proficiency throughout the four weeks. We recommend the previous two options if you are new to these movements.</p>

        <label class="lead">Olympic Lifting Peak</label>
        <p class="card-text text-left">This program is geared towards peaking for a competition or in preparation for finding a new max lift.  As the load increases volume decreases and the competition lifts are the primary focus.</p>
      </div>
    </div>

    <div class="card m-2 ">
      <div class="card-header">
        <h4 class="font-weight-normal">Rugby</h4>
      </div>
      <div class="card-body">
        <label class="lead">Rugby Conditioning Foundations</label>
        <p class="card-text text-left">The goal of this program is to accumulate a high volume of lower intensity meters to build a large aerobic capacity.  This is fundamental to developing other attributes such as speed and repeated sprint ability.  In this phase the athlete will be tracked on total meterage, changes of direction and high-speed running.</p>

        <label class="lead">Rugby Conditioning Accumulation</label>
        <p class="card-text text-left">The accumulation phase starts to add high speed running while manipulating rest periods.  After this program, the athlete will be able to withstand increased running volume and can recover quicker after hard bouts.</p>
      </div>
    </div>

    <div class="card m-2 ">
      <div class="card-header">
        <h4 class="font-weight-normal">Powerlifting</h4>
      </div>
      <div class="card-body">
        <label class="lead">Powerlifting Technique/Hypertrophy</label>
        <p class="card-text text-left">This program is geared towards improving your technique in the big 3 while building the base of muscle needed to put up big numbers. This program will give you many variations that specifically address common technical faults. It will also provide plenty of volume to build the capacity needed for more grueling intensity. Perfect for a beginner/offseason powerlifter or just somebody who enjoys the big barbell lifts and is looking to put on muscle.</p>

        <label class="lead">Powerlifting Strength</label>
        <p class="card-text text-left">The goal of this program is to build strength while maintaining muscle mass. The intensity is progressed weekly (over 1 month) while still maintaining a baseline of volume to retain the hypertrophy you have worked hard for!</p>

        <label class="lead">Powerlifting Peak</label>
        <p class="card-text text-left">This program is geared towards peaking for a competition or in preparation for finding a new max.  As the load increases volume decreases and the competition lifts are the primary focus.</p>
      </div>
    </div>

    <div class="card m-2 ">
      <div class="card-header">
        <h4 class="font-weight-normal">Traditional</h4>
      </div>
      <div class="card-body">
        <label class="lead">Body Comp</label>
        <p class="card-text text-left">This program is geared towards losing body fat. You will use a combination of different strategies in this program including traditional strength exercises, bodybuilding exercises, metabolic circuits, aerobic work, and metabolic conditioning. </p>

        <label class="lead">Bigger/Stronger</label>
        <p class="card-text text-left">The goal of this program is to put on muscle mass while increasing full body strength. A combination of traditional strength and bodybuilding exercises will be used to get you as big and strong as possible.</p>

      </div>
    </div>
  </div>
</div>
