<div class="container">
    <div class="row text-center mt-5 mb-5 text-white" id="background-remote-coaching">
        <div class="col">
          <h1>All Access Remote Coaching</h1>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h3>Who this is for</h3>
        <ul class="">
          <li class="p-2">Motivated and dedicated individuals who can't make it to Flight Performance and Fitness but still want to utilize our coaching and programming. </li>
          <li class="p-2">Anyone with interest in powerlifting and/or looking to prepare for their first meet.</li>
          <li class="p-2">An experienced powerlifter looking to increase their total.</li>
          <li class="p-2">Any individual who doesn't plan on competing but is looking to improve their performance on the big barbell lifts</li>
        </ul>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h3>What you get</h3>
        <ul class="">
          <li class="p-2">Initial 45 minute video call to discuss previous training experience, goals, and coaching expectations.</li>
          <li class="p-2">Training adjusted each week based on feedback from fatigue/well-being questionnaire</li>
          <li class="p-2">Weekly video feedback on training execution, technique correction, and explanation of training plan</li>
          <li class="p-2">24/7 Access to coach for guidance or to answer questions. Expectation is an answer within 24 hours</li>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <h4>Interested? Sign up Today</h4>
        <p>
            3 Month Commitment: <b>$200</b> per month<br/>
            <a href="https://calendly.com/amber_flight/45-minute-orientation-call-flight-performance-and-fitness" target="_blank">
                Sign up here
            </a> for your consultation. You'll be asked some follow up questions about your goals and current fitness experience.
        </p>
      </div>
    </div>
  </div>
</div>
