<div class="container">
    <div class="row text-center mt-5 mb-5 text-white" id="background-remote-coaching">
        <div class="col">
          <h1>All Access Remote Coaching</h1>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col lead">
        <p>Flight is bringing remote coaching to you! We have designed a service that allows us to provide coaching from afar without losing all of the benefits of having a coach in person. Sign up
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfXV46_TOMEWLrHfq9T2tnGcoOuqIzOaCU-VDZK2VPp191n-Q/viewform" target="_blank">
         here
        </a> to get started today.
</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h3>Who this is for:</h3>
        <ul class="">
          <li class="p-2">Motivated and dedicated individuals who are unable to train at the Flight Performance and Fitness Facility but still want to utilize our coaching and programming</li>
          <li class="p-2">Anybody looking to increase their general strength and fitness.</li>
          <li class="p-2">Anybody looking to improve their body composition.</li>
          <li class="p-2">Somebody looking for guidance and accountability.</li>
        </ul>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h3>What to expect:</h3>
        <ul class="">
          <li class="p-2">A 45 minute consultation call to discuss goals, training history, remote coaching process, limitations, etc.</li>
          <li class="p-2">Individualized training program based on personal goals, access to equipment, etc.
              <ul><li>Weekly updates to training program baced on Check-In</li><ul><li>Fatigue/Well-being survey included with Check-In</li></ul></ul>
          </li>
          <li class="p-2">Weekly video feedback from coach
              <ul>
                  <li>Technique feedback if necessary</li>
                  <li>Training execution tips and cues</li>
                  <li>What to expect for training during upcoming week</li>
                  <li>Outline of training plan for upcoming weeks</li>
              </ul>
          </li>
          <li class="p-2">Nutrition Guidance
              <ul>
                  <li>Coach and athlete work together to change habits around nutrition</li>
              </ul>
          </li>
          <li class="p-2">All-Access to ask Coach questions with the expectation of an answer within 24 hours</li>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <h3>Interested?</h3>
        <p><label><b>Price:</b></label> $200 per month<br/>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfXV46_TOMEWLrHfq9T2tnGcoOuqIzOaCU-VDZK2VPp191n-Q/viewform" target="_blank">
                <b><u>Sign up here</u></b>
            </a> for your consultation. You'll be asked some follow up questions about your goals and current fitness experience.
        </p>
      </div>
    </div>
  </div>
</div>
