<div class="container">
    <div class="row text-center mt-5 mb-5 text-white" id="background-remote-coaching">
        <div class="col">
          <h1>All Access Remote Coaching</h1>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item">Coaching is focused on powerlifting</li>
          <li class="list-group-item">Initial 45 minute video call to discuss previous training experience, goals, coaching expectations.</li>
          <li class="list-group-item">Training is adjusted each week based on feedback from fatigue/well-being questionnaire</li>
          <li class="list-group-item">Weekly video feedback on training execution, technique correction, explanation of training plan</li>
          <li class="list-group-item">24/7 Access to coach for guidance or to answer questions with the expectation of an answer within 24 hours</li>
        </ul>
      </div>
    </div>
    <div class="mt-3 mb-5 row">
      <div class="col">
        <h4>Interested? Sign up Today</h4>
        <p>
            3 Month Commitment: <b>$200</b> <br/>
            <a href="https://calendly.com/amber_flight/45-minute-orientation-call-flight-performance-and-fitness" target="_blank">
                Sign up here
            </a> for your consultation. You'll be asked some follow up questions about your goals and current fitness experience.
        </p>
      </div>
    </div>
  </div>
</div>
