var registerForm = $("#register-form");

registerForm.html(
  "<div class='container'><div class='row lead'><div class='col text-center'><h1>Thanks. We'll be getting back to you soon.</h1></div></div></div>"
);
