<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col text-center">
            <h1>Testimonials</h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-8 col-xs-12">
            <%= video_tag image_path("ari-testimonial.mov"), class: "img-fluid", controls: true, preload: 'metadata', poster: image_path("ari-testimonial.jpg") %>
        </div>
        <div class="col-sm-4 col-xs-12">
            <p class="lead"><b>Ari</b><br>
                One sentence of text who she is why shes at flight, One sentence of text who she is why shes at flight
            </p>
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-sm-6 col-xs-12">
            <p class="lead"><b>Stevie</b><br>
                One sentence of text who she is why shes at flight, One sentence of text who she is why shes at flight
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <%= video_tag image_path("stevie-testimonial.mov"), class: "img-fluid", controls: true, preload: 'metadata', poster: image_path("stevie-testimonial.jpg")  %>
        </div>
    </div>
    <hr>
</div>
