<div class="container">
  <div class="row text-center mt-5 mb-5" id="background-youth-program">
      <div class="col">
        <h1 class="display-4">Youth Performance Program</h1>
      </div>
  </div>
  <div class="row pb-2 pt-2">
    <div class="alert alert-info alert w-100" role="alert">
      <p>Spring session starts April 1st.  We will only be accepting 35 athletes into the program, and it usually sells out before it starts. </br>Register in the <a href="#youth-performance-form">form below.</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Parents, this program is for your kid if:</h3>
      <ul class="">
        <li class="p-2">They are looking to get faster stronger to improve in their sport.</li>
        <li class="p-2">They are looking to play sports at higher levels of competition.</li>
        <li class="p-2">They have a hard time eating healthy and you need someone else in your corner to promote healthy habits.</li>
        <li class="p-2">They struggle with self-confidence.</li>
      </ul>
      <h3>Here is what you can expect from this program:</h3>
      <ul class="">
        <li class="p-2">Your kids will get stronger and can perform better than ever.</li>
        <li class="p-2">Your kids will improve speed, agility, and blow the doors off the competition.</li>
        <li class="p-2">Your kids will gain coordination and the ability to acquire new skills faster.</li>
        <li class="p-2">Your children will want to eat better so they can perform better in the gym and in their sport.</li>
        <li class="p-2">Their confidence will skyrocket, and they will learn to be leaders and speak up when they need to.</li>
      </ul>
    </div>
  </div>
  <hr/>
  <section class="row mt-5" id="youth-performance-form">
    <div class="col-sm-12">
      <h3>Register for Youth Performance</h3>
      <p>A coach will reach out shortly with more information about schedule, program duration, rates, and age groups</p>

      <iframe
      src="https://fitsndr.com/widget/form/fWLu4b0mf7HK6w539OSi"
      style="width:100%;height:100%;border:none;border-radius:4px"
      id="inline-fWLu4b0mf7HK6w539OSi"
      data-layout="{'id':'INLINE'}"
      data-trigger-type="alwaysShow"
      data-trigger-value=""
      data-activation-type="alwaysActivated"
      data-activation-value=""
      data-deactivation-type="neverDeactivate"
      data-deactivation-value=""
      data-form-name="Website Form v2.0 - Athlete"
      data-height="402"
      data-layout-iframe-id="inline-fWLu4b0mf7HK6w539OSi"
      data-form-id="fWLu4b0mf7HK6w539OSi"
      title="Website Form v2.0 - Athlete"
      ></iframe>
    </div>
  </section>
</div>
